
body {
	background-image: url('taust15.jpg');
	font-family: GT Eesti Pro Display Light;
	color: mistyrose;
}

h2{
	color: mistyrose;
	text-align: center;
	margin-left: 20px;
	font-size: 28px;
}


p {
	
	background-color: #220619;
	border-style: double;
	border-color: mistyrose;
	border-width: 8px;
	color: black;
	float: left;
	margin-left: 20px;
	padding: 20px 20px 20px 20px;
	font-family: GT Eesti Pro Display Light;
	font-size: 22px;
	color: mistyrose;
	width: 70%;
	display: block;
	text-align: justify;

}

.pilt1 {
	size: 10px;
	float:left;
	margin-left: 20px;
	width:50%;
	border-style: double;
	border-color: mistyrose;
	border-width: 8px;
	flex:50%;


}



