body{
	font-family: GT Eesti Pro Display Light;
	color: MistyRose;
	background-image: url("noop_taust.png");
}
.nooppealkiri {
	font-style: italic;
	font-size: 500%;
	margin-left: 150px;
	margin-top: 30px;
}

p.pehme {
	border-style: ridge;
}

.noop3{
	border-radius: 50%;
	margin-left: 60px;
	width: 300px;
}
.noop4{
	border-radius: 50%;
	margin-left: 550px;
	width: 300px;
	float: right;
	position: absolute;
}
div {
	border-radius: 30%;
	margin-right: 420px;
	background-color: Mistyrose;
	color: black;
	float: right;
	padding: 30px 50px 40px 50px;
	font-family: GT Eesti Pro Display Light;
	font-size: 20px;
	width: 300px;
	display: block;
}
img:hover{
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}