body{
	font-family: GT Eesti Pro Display Light;
	color: MistyRose;
	background-image: url("noop_taust.png");
}

p.pehme{
	border-style: ridge;
}

.noop3{
	border-radius: 50%;
	margin-left: 60px;
	width: 300px;
}

.noop4{
	border-radius: 50%;
	margin-right: 20px;
	width: 300px;
	position: absolute;
}

div {
	vertical-align: top;
	display: inline-block;
	margin-right: 10px;
	border-radius: 5px;
	background-color: Mistyrose;
	color: black;
	padding: 30px 50px 40px 50px;
	font-family: GT Eesti Pro Display Light;
	font-size: 25px;
	width: 400px;
	line-height: 1.5;
	text-align: justify;
}

img:hover{
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}