body{
	font-family: GT Eesti Pro Display Light;
	color: MistyRose;
}
.nooppealkiri {
	font-style: italic;
	font-size: 500%;
	margin-left: 150px;
	margin-top: 30px;
}

p.pehme {
	border-style: ridge;
}

img{
	border-radius: 50%;
	margin-left: 60px;
	width: 300px;
}

div {
	border-radius: 30%;
	margin-right: 400px;
	background-color: Mistyrose;
	color: black;
	float: right;
	padding: 30px 50px 40px 50px;
	font-family: GT Eesti Pro Display Light;
	font-size: 20px;
	width: 300px;
}
