.nupud{
  display: flex;
  justify-content: center;
}

.chuck{
	margin-top: 25px;
	height: 400px;
	width: 300px;
	border: 5px solid MistyRose;
}

.sherlock{
	margin-left: 25px;
	margin-top: 25px;
	height: 400px;
	width: 300px;
	border: 5px solid MistyRose;
}

.nööp{
	margin-left: 25px;
	margin-top: 25px;
	height: 400px;
	width: 300px;
	border: 5px solid MistyRose;
}

.map{
	margin-top: 50px;
	border: 5px Solid MistyRose;
	height: 300px;
	width: 600px;
}

.chuck:hover{
	opacity: 0.9

.sherlock:hover{
	opacity: 0.9
}

.nööp:hover{
	opacity: 0.9
}