body{
	background-image: url("taust.jpg");
	font-family: GT Eesti Pro Display Light;
	color: MistyRose;
}

.pealkiri{
	margin-left: 150px;
	margin-top: 100px;
	font-size: 500%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: Mistyrose;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	font-size: 30px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #333
}

.aktiivne {
	background-color: salmon
}